@import "../layout/module.scss";

//
// Item layout
//
.index-container {
  @include respond-above(sm) {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .index-item {
    height: 80vh;
    background-size: cover;
    background-position: center;
    @include respond-above(sm) {
      flex-grow: 1;
    }
  }
}

//
// Item inner layout
//
.index-item {
  padding: 1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

//
// Item title styling
//
.index-item-title {
  font-size: 2.4rem;
  line-height: 1.1em;
  font-weight: 600;
  span {
    color: #fff;
    display: block;
  }
  span.accent {
    color: #FF668B;
  }
}

//
// Item subtitle styling
//
.index-item-subtitle {
  color: white;
  font-weight: 200;
  line-height: 1.4em;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding-right: 0.5rem;
}
