
.block {
  margin-top: 8rem;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  color: #2A2F36;
  line-height: 1.2em;

}
.subtitle {
  font-size: 1.5rem;
  color: #6C7A89;
  margin-top: 0.5rem;
  line-height: 1.3em;
}
