.post-link-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 70vh;
  @media only screen and (max-width: 375px) {
    height: auto;
  }
}
.post {
  background-size: cover;
  background-position: center;
  &:nth-child(1n) {
    height: 70vh;
  }
  &:nth-child(2n),
  &:nth-child(3n) {
    height: 35vh;
    @media only screen and (max-width: 375px) {
      height: 70vh;
    }
  }
}
