@mixin background-gradient ($color-start, $color-end, $direction) {
  @if $direction == horizontal {
    background: -moz-linear-gradient(left, $color-start 0%, $color-end 100%);
    background: -webkit-linear-gradient(left, $color-start 0%,$color-end 100%);
    background: linear-gradient(to right, $color-start 0%, $color-end 100%);
    // This won't work for IE 6-9 given the mixin input
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=1 );
  }
  @else if $direction == vertical {
    background: -moz-linear-gradient(top, $color-start 0%, $color-end 100%);
    background: -webkit-linear-gradient(top, $color-start 0%,$color-end 100%);
    background: linear-gradient(to bottom, $color-start 0%, $color-end 100%);
    // This won't work for IE 6-9 given the mixin input
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0 );
  }
}
